body{
    background-color: #efefef;
}

.main{
    background-color: white;
    margin: 30px;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.media-object{
    width: 38px;
    height: 38px;
}

.media-body{
    padding-top: 10px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.description{
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
}

.profile .section{
    margin-top: 15px;
}

.community-menu{
    color: #999;
}

.jumbotron{
    margin: 60px;
}

.comment{
    margin: 10px 0;
}

.btn-comment{
    margin-bottom: 10px;
}

.comment-sp{
    margin-top: 0;
}

.commentContent{
    margin-bottom: 6px;
}

.img-rounded{
    width: 30px;
    height: 30px;
}

.commentMenu{
    color: #999;
    margin-right: 10px;
}


.commentMenu .icon{
    margin-right: 5px;
    font-size: 15px;
    cursor: pointer;
}

.commentMenu .active{
    color: #499ef3;
}

.commentMenu .icon:hover{
    color: #499ef3;
}

.comments{
    margin-bottom: 10px;
}

.sub-comment{
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}

.sub-comment .btn{
    margin: 10px 0;
}

.question-tag{
    margin-right: 5px;
}