<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发布——java营地</title>
    <link th:replace="common.html::head"/>
</head>
<body>
<!--头部开始-->
<nav th:replace="common.html:: commonHead"></nav>
<!--头部结束-->

<div class="container-fluid main">
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h3>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> &nbsp [[${action}]]
            </h3>
            <form action="/publish" method="post">
                <input type="hidden" name="questionId" th:value="${questionId}"/>
                <hr>
                <div class="form-group">
                    <label for="title">问题标题（简明扼要）</label>
                    <input type="text" class="form-control" id="title" th:value="${title}" name="title" placeholder="问题标题" required="required" maxlength="25">
                </div>
                <div class="form-group">
                    <label for="title">问题补充（必填，按照右边提示）</label>
                    <textarea class="form-control" name="description" id="description" th:text="${description}" cols="30" rows="10" required="required" maxlength="16777000"></textarea>
                </div>
                <div class="form-group">
                    <label for="title">添加标签</label>
                    <input type="text" class="form-control" id="tag" th:value="${tag}" name="tag" placeholder="输入标签，以逗号隔开" required="required" maxlength="50">
                </div>
                <br>
                <button type="submit" class="btn btn-success btn-publish">[[${action}]]</button>
                <span class="alert alert-danger" th:if="${error != null}" th:text="${error}"></span>
            </form>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <h3>问题发起指南</h3><br>
            • 问题标题: 请用精简的语言描述您发布的问题，不超过25字<br><br>
            • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料<br><br>
            • 选择标签: 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字
        </div>
    </div>
</div>
</body>
</html>