<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>问题详情</title>
    <link th:replace="common.html::head"/>
    <script src="/js/moment.js"></script>
</head>
<body>
<!--头部开始-->
<nav th:replace="common.html:: commonHead"></nav>
<!--头部结束-->

<div class="container-fluid main">
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <!--话题正文开始-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3 th:text="${questionDTO.title}">
                    <span aria-hidden="true"></span>
                </h3>
                <span class="text-desc">
                    作者:<span th:text="${questionDTO.user.name}"></span> |
                    回复数:[[${questionDTO.commentCount}]] | 阅读数:[[${questionDTO.viewCount}]] |
                    发布于:<span th:text="${#dates.format(questionDTO.gmtCreate, 'yyyy-MM-dd HH:mm')}"></span>
                </span>
                <div>
                    <span class="label label-info question-tag" th:each="tag:${questionDTO.tag.split('[\\,\\，]')}">
                        <span class="glyphicon glyphicon-tags"></span>
                        <span th:text="${tag}"></span>
                    </span>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a th:href="'/publish/' + ${questionDTO.id}" class="community-menu" th:if="${session.user.id == questionDTO.creator}">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    编辑
                </a>
                <br>
                <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12" th:text="${questionDTO.description}"></p>
                <span class="commentMenu">
                    <span class="glyphicon glyphicon-thumbs-up icon pull-right"> [[${questionDTO.likeCount}]]</span>
                </span>
                <hr class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            </div>
            <!--话题正文结束-->


            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>
                    <span>[[${questionDTO.commentCount}]] 个回复</span>
                </h3>
                <hr class="col-xs-12 col-sm-12 col-md-12 col-lg-12 comment-sp">

                <!--回复列表展示开始-->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" th:each="comment:${commentShowDTO.showComment}">
                    <div class="media">
                        <div class="media-left">
                            <a th:href="@{/profile/questions/(userId=${comment.user.id}, page=1)}">
                                <img class="media-object img-rounded" th:src="${comment.user.avatarUrl}">
                            </a>
                        </div>
                        <div class="media-body" th:id="${'comment-body-'+comment.id}">
                            <h5 class="media-heading">
                                <span th:text="${comment.user.name}"> </span>
                            </h5>
                            <div class="commentContent" th:text="${comment.content}"></div>
                            <div class="commentMenu">
                                <span class="glyphicon glyphicon-comment icon" th:data-id="${comment.id}"
                                      onclick="collapseComments(this)"></span><span>[[${comment.commentCount}]]</span>&nbsp|&nbsp

                                <span class="glyphicon glyphicon-thumbs-up icon"></span><span th:text="${comment.likeCount}"></span>
                                <span class="pull-right" th:text="${#dates.format(comment.gmtCreate, 'yyyy-MM-dd')}"></span>
                            </div>
                            <!--二级评论开始-->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 collapse sub-comment"
                                 th:id="'comment-' + ${comment.id}">
                                <!--循环展示二级评论开始-->
                                <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 comments" th:each="comment:${commentShowDTO.showComment}">
                                    <div class="media">
                                        <div class="media-left">
                                            <a th:href="@{/profile/questions/(userId=${comment.user.id}, page=1)}">
                                                <img class="media-object img-rounded" th:src="${comment.user.avatarUrl}">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="media-heading" th:text="${comment.user.name}>
                                            </h5>
                                            <div class="commentContent" th:text="${comment.content}"></div>
                                            <div class="commentMenu">
                                                <span class="pull-right" th:text="${#dates.format(comment.gmtCreate, 'yyyy-MM-dd')}"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                </div>-->
                                <!--循环展示二级评论结束-->
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <input type="hidden" id="comment_creator" th:value="${comment.user.id}">
                                    <input type="text" class="form-control" placeholder="评论一下..." th:id="'input-' + ${comment.id}">
                                    <button type="button" class="btn btn-success pull-right"
                                            onclick="comment(this)" th:data-id="${comment.id}">评论</button>
                                </div>
                            </div>
                            <!--二级评论结束-->
                        </div>
                    </div>
                    <hr class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                </div>
            </div>
            <!--回复列表展示结束-->

            <!--回复列表分页开始-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:if="${commentShowDTO.showPrevious}">
                            <a th:href="'/question/'+ ${questionDTO.id} + '?pageNum=' + ${commentShowDTO.page - 1}" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>

                        <li th:each="page:${commentShowDTO.pages}" th:class="${commentShowDTO.page == page}?'active': ''">
                            <a th:href="'/question/'+ ${questionDTO.id} + '?pageNum=' + ${page}">[[${page}]]</a>
                        </li>

                        <li th:if="${commentShowDTO.showNextPage}">
                            <a th:href="'/question/'+ ${questionDTO.id} + '?pageNum=' + ${commentShowDTO.page + 1}" aria-label="Previous">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!--回复列表分页结束-->

            <!--回复框开始-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="comment_section">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded" th:src="${session.user.id != null ? session.user.avatarUrl:'/images/default-avatar.png'}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <span th:text="${session.user.id != null ? session.user.name:'anonymous user'}"> </span>
                            </h4>
                        </div>
                    </div>
                    <input type="hidden" id="question_id" th:value="${questionDTO.id}"> <!--提交一个隐藏的question，在js中获取，然后作为parentId传入后端-->
                    <input type="hidden" id="question_creator" th:value="${session.user.id}">
                    <textarea class="form-control comment" id="comment_content" rows="6" maxlength="1000"></textarea>
                    <button type="button" class="btn btn-success btn-publish btn-comment" onclick="post()">回复</button>
                </div>
                <!--回复框结束-->
            </div>
        </div>

        <!--右边侧栏开始-->
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <h3>发起人</h3>
            <div class="media">
                <div class="media-left">
                    <a th:href="@{/profile/questions/(userId=${questionDTO.user.id}, page=1)}">
                        <img class="media-object" th:src="${questionDTO.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{/profile/questions/(userId=${questionDTO.user.id}, page=1)}">
                            [[${questionDTO.user.name}]]
                        </a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <h3>相关问题</h3>
            <ul class="question-related">
                <li class="related" th:each="related:${relatedQuestions}">
                    <a th:href="@{'/question/' + ${related.id}}" th:text="${related.title}"></a>
                </li>
            </ul>
        </div>
        <!--右边侧栏结束-->
    </div>
</div>
</body>
</html>